<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Address %><br />
    <%= f.text_field :Address %>
  </div>
  <div class="field">
    <%= f.label :City %><br />
    <%= f.text_field :City %>
  </div>
  <div class="field">
    <%= f.label :State %><br />
    <%= f.text_field :State %>
  </div>
  <div class="field">
    <%= f.label :Zip %><br />
    <%= f.text_field :Zip %>
  </div>
  <div class="field">
    <%= f.label :Region %><br />
    <%= f.text_field :Region %>
  </div>
  <div class="field">
    <%= f.label :Bedrooms %><br />
    <%= f.text_field :Bedrooms %>
  </div>
  <div class="field">
    <%= f.label :Bathrooms %><br />
    <%= f.text_field :Bathrooms %>
  </div>
  <div class="field">
    <%= f.label :Rent %><br />
    <%= f.text_field :Rent %>
  </div>
  <div class="field">
    <%= f.label :SquareFeet %><br />
    <%= f.text_field :SquareFeet %>
  </div>
  <div class="field">
    <%= f.label :Parking %><br />
    <%= f.text_field :Parking %>
  </div>
  <div class="field">
    <%= f.label :Smoking %><br />
    <%= f.text_field :Smoking %>
  </div>
  <div class="field">
    <%= f.label :Pets %><br />
    <%= f.text_field :Pets %>
  </div>
  <div class="field">
    <%= f.label :Heat %><br />
    <%= f.text_field :Heat %>
  </div>
  <div class="field">
    <%= f.label :Electric %><br />
    <%= f.text_field :Electric %>
  </div>
  <div class="field">
    <%= f.label :Flags %><br />
    <%= f.text_field :Flags %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
