<html>

<head>
	<title>Add a Listing</title>
</head>


<body>
<%= form_for(@list) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :Address %><br />
    <%= f.text_field :Address %>
  </div>
  <div class="field">
    <%= f.label :City %><br />
    <%= f.text_field :City, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :State %><br />
    <%= f.text_field :State, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :Zip %><br />
    <%= f.text_field :Zip %>
  </div>
  <div class="field">
    <%= f.label :Region %><br />
    <%= f.text_field :Region %>
  </div>
  <div class="field">
    <%= f.label :Bedrooms %><br />
	<%= f.select :Bedrooms, List::ROOMS %>
  </div>
  <div class="field">
    <%= f.label :Bathrooms %><br />
    <%= f.select :Bathrooms, List::BATHS %>
  </div>
  <div class="field">
    <%= f.label :Rent %><br />
    <%= f.text_field :Rent %>
  </div>
  <div class="field">
    <%= f.label :SquareFeet, "Square Feet" %><br />
    <%= f.text_field :SquareFeet %>
  </div>
  <div class="field">
    <%= f.check_box :Parking%>Parking Available <br />
  </div>
  <div class="field">
    <%= f.check_box :Smoking%>Smoking Allowed<br />
  </div>
  <div class="field">
    <%= f.check_box :Pets%>Pets Allowed <br />
  </div>
  <div class="field">
    <%= f.check_box :Heat%>Heat Included <br />
  </div>
  <div class="field">
    <%= f.check_box :Electric %>Electric Included<br />
  </div>
  <div class="field">
    <%= f.check_box :Gas%>Gas Included<br />
  </div>
  <div class="field">
    <%= f.check_box :GarbageCollection%>Garbage collection handled by landlord<br />
  </div>
  <div class="field">
    <%= f.label :Type, "Residence Type"%><br />
   	<%= f.radio_button :Type, true %>House <br />	
    <%= f.radio_button :Type, false %>Apartment <br />
  </div>
  <div class="field">
    <%= f.label :Length, "Length (Months)" %><br />
   	<%= f.radio_button :Length, 6 %>6 Months
    <%= f.radio_button :Length, 9 %>9 Months 
    <%= f.radio_button :Length, 12 %>12 Months <br />
  </div>
  <div class="field">
    <%= f.check_box :Furnished%>Furnished <br />
  </div>
  <div class="field">
    <%= f.check_box :Laundry%>Laundry on site <br />
  </div>
  <div class="field">
    <%= f.label :Flags %><br />
    <%= f.text_field :Flags %>
  </div>
  <div class="actions">
  	<%= raw recaptcha_tag(:challenge) %> <br />
    <%= f.submit %>
  </div>
<% end %>

</section>
</body>
</html>