<html>

<head>
	<title>Add a Listing</title>
</head>


<body>
<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2>The following <%= pluralize(@list.errors.count, "error") %> prevented the listing from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Address %><br />
    <%= f.text_field :Address %>
  </div>
  <div class="field">
    <%= f.label :City %><br />
    <%= f.text_field :City, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :State %><br />
    <%= f.text_field :State, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :Zip %><br />
    <%= f.text_field :Zip %>
  </div>
  <div class="field">
    <%= f.label :Region %><br />
    <%= f.text_field :Region %>
  </div>
  <div class="field">
    <%= f.label :Bedrooms %><br />
	<%= f.select :Bedrooms, List::ROOMS %>
  </div>
  <div class="field">
    <%= f.label :Bathrooms %><br />
    <%= f.select :Bathrooms, List::BATHS %>
  </div>
  <div class="field">
    <%= f.label :Rent %><br />
    <%= f.text_field :Rent %>
  </div>
  <div class="field">
    <%= f.label :SquareFeet, "Square Feet" %><br />
    <%= f.text_field :SquareFeet %>
  </div>
  <div class="field">
    <%= f.label :Parking, "Parking Available" %><br />
    <%= f.radio_button :Parking, true %>True <br />
    <%= f.radio_button :Parking, false %>False <br />
  </div>
  <div class="field">
    <%= f.label :Smoking %><br />
    <%= f.radio_button :Smoking, true %>True <br />
    <%= f.radio_button :Smoking, false %>False <br />
  </div>
  <div class="field">
    <%= f.label :Pets %><br />
    <%= f.radio_button :Pets, true %>True <br />
    <%= f.radio_button :Pets, false %>False <br />
  </div>
  <div class="field">
    <%= f.label :Heat %><br />
    <%= f.radio_button :Heat, true %>True <br />
    <%= f.radio_button :Heat, false %>False <br />
  </div>
  <div class="field">
    <%= f.label :Electric %><br />
   	<%= f.radio_button :Electric, true %>True <br />
    <%= f.radio_button :Electric, false %>False <br />
  </div>
  <div class="field">
    <%= f.label :Gas %><br />
    <%= f.radio_button :Gas, true %>True <br />
    <%= f.radio_button :Gas, false %>False <br />
  </div>
  <div class="field">
    <%= f.label :GarbageCollection, "Garbage Collected" %><br />
   	<%= f.radio_button :GarbageCollection, true %>True <br />
    <%= f.radio_button :GarbageCollection, false %>False <br />
  </div>
  <div class="field">
    <%= f.label :Type, "House (true) or Apartment (false) ?"%><br />
   	<%= f.radio_button :Type, true %>House <br />	
    <%= f.radio_button :Type, false %>Apartment <br />
  </div>
  <div class="field">
    <%= f.label :Length, "Length (Months)" %><br />
   	<%= f.radio_button :Length, 6 %>6 Months
    <%= f.radio_button :Length, 9 %>9 Months 
    <%= f.radio_button :Length, 12 %>12 Months <br />
  </div>
  <div class="field">
    <%= f.label :Furnished %><br />
    <%= f.radio_button :Furnished, true %>True <br />
    <%= f.radio_button :Furnished, false %>False <br />
  </div>
  <div class="field">
    <%= f.label :Laundry %><br />
    <%= f.radio_button :Laundry, true %>True <br />
    <%= f.radio_button :Laundry, false %>False <br />
  </div>
  <div class="field">
    <%= f.label :Flags %><br />
    <%= f.text_field :Flags %>
  </div>
  <div class="actions">
  	<%= raw recaptcha_tag(:challenge) %>
    <%= f.submit %>
  </div>
<% end %>

</section>
</body>
</html>