<html>
	<%= stylesheet_link_tag 'pagination' %>
<body>

<% first = 1 %>

<section id="Results_View" >
<% unless @test.nil? %> <!-- This checks if the url is empty. Will then show the content (ie. home) page in that case-->
<% unless @no_results %> <!-- This checks if there are no search results. Will render a new partial -->
<h1>Search Results</h1>
<hr id="Results_View_Bar">
<p>Select a listing and here's what you can do:
<div id="Table_Actions">
<ul>
<li class="button"><a class="Table_Action" href="/lists/1">Show</a></li>
<li class="button"><a class="Table_Action" href="/lists/1/edit">Edit</a></li>
<% if signed_in? && current_user.admin? %><li class="button"><a class="Table_Action" href="/lists/1" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Remove</a></li> <% end %>
</ul>
</div>
</p>

<table id="Search_Results_Table">
  <tr>
  	<th>Address</th>
  	<th>Zip</th>
  	<th>Bed</th>
  	<th>Bath</th>
  	<th>Rent</th>
  	<th>Square Feet</th>
  	<th>Parking</th>
  	<th>Smoking</th>
  	<th>Pets</th>
  	<th>Heat</th>
  	<th>Electric</th>
  	<th>Gas</th>
  	<th>Garbage Collection</th>
  	<th>Furnished</th>
  	<th>Laundry</th>
  </tr>
  
    
    <!--<th><%= sort_link @search, :Address%> </th>
    <th><%= sort_link @search, :Zip %> </th>
    <th><%= sort_link @search, :Region %> </th>
    <th><%= sort_link @search, :Bedrooms, "Bed" %> </th>
    <th><%= sort_link @search, :Bathrooms, "Bath" %></th>
    <th><%= sort_link @search, :Rent %> </th>
    <th><%= sort_link @search, :SquareFeet, "Square Feet"%></th>
    <th><%= sort_link @search, :Parking %> </th>
    <th><%= sort_link @search, :Smoking %> </th>
    <th><%= sort_link @search, :Pets %> </th>
    <th><%= sort_link @search, :Heat %> </th>
    <th><%= sort_link @search, :Electric %> </th>
    <th><%= sort_link @search, :Gas %> </th>
    <th><%= sort_link @search, :GarbageCollection, "Garbage Collected" %></th>
    <th><%= sort_link @search, :Furnished %> </th>
    <th><%= sort_link @search, :Laundry %> </th>-->
   

<% i = 0 %>
<% elementClass = "Table_Element" %>

<% @lists.each do |list| %>

<% i = i + 1 %>

<% if i % 2 == 0
elementClass = "Table_Element_Alt"
else
elementClass = "Table_Element"
end %>

<% if i == 1
first = list.id
end %>

<% identifier = "Table_Element_" + list.id.to_s() %>

  <tr onclick="setSelectedTableElement(<%= list.id %>)" id=<%= identifier%>>
    <td class=<%= elementClass%> ><%= list.address %></td>
    <td class=<%= elementClass%> ><%= list.zip %></td>
    <td class=<%= elementClass%> ><%= list.bedrooms %></td>
    <td class=<%= elementClass%> ><%= list.bathrooms %></td>
    <td class=<%= elementClass%> ><%= list.rent %></td>
    <td class=<%= elementClass%> ><%= list.squarefeet %></td>
    <td class=<%= elementClass%> ><%= list.parking %></td>
    <td class=<%= elementClass%> ><%= list.smoking %></td>
    <td class=<%= elementClass%> ><%= list.pets %></td>
    <td class=<%= elementClass%> ><%= list.heat %></td>
    <td class=<%= elementClass%> ><%= list.electric %></td>
    <td class=<%= elementClass%> ><%= list.gas %></td>
    <td class=<%= elementClass%> ><%= list.garbagecollection %></td>
    <td class=<%= elementClass%> ><%= list.furnished %></td>
    <td class=<%= elementClass%> ><%= list.laundry %></td>
  </tr>
<% end %>

<td></td>
<td></td>

</table>
<% end %>
<% end %>

</section>


<% if @test.nil? %>
<%= render 'home/content' %>
<% end %>

<% if @no_results %>
<%= render 'home/no_results' %>
<% end %>


<script type="text/javascript">

document.getElementById("Table_Element_<%= first%>").style.opacity = "0.5";

var links = document.getElementById("Table_Actions").getElementsByTagName("a");
links.item(0).href = "/lists/"+<%= first%>;
links.item(1).href = "/lists/"+<%= first%>+"/edit";
links.item(2).href = "/lists/"+<%= first%>;

</script>

</body>

</html>