<%= stylesheet_link_tag 'index' %>

<%= render 'banner' %>
<div class="divider"></div>

<!-- Search Panel -->
<%= render 'search_panel' %>
<!-- End Search Panel -->

<div class="divider"></div>

<%= render 'form' %>

<%= link_to 'Show', @list %> |
<%= link_to 'Cancel', lists_path %>
