<%= stylesheet_link_tag 'index' %>

<%= render 'home/banner' %>
<div class="divider"></div>

<div class="Residence_Listing_Form">
<h2 id="Add_Listing_Title">Update Listing</h2>
<%= render 'form' %>
</div>

<%= link_to 'Show', @list %> |
<%= link_to 'Cancel', lists_path %>
