<%= stylesheet_link_tag 'index' %>

<%= render 'home/banner' %>
<div class="divider"></div>

<div class="divider"></div>

<%= render 'form' %>

<%= link_to 'Show', @list %> |
<%= link_to 'Cancel', lists_path %>
