<html>

<head>
	<title>Lists in Database</title>
	<% stylesheet_link_tag 'index' %>
</head>


<body>

	<%= render 'banner' %>
	<div class="divider"></div>


	
<section id="Listing_View" >
<% unless @test.nil? %>
<h1>Lists in Database</h1>
<hr id="Listing_View_Bar"/>

<table>
  <tr>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Region</th>
    <th>Bedrooms</th>
    <th>Bathrooms</th>
    <th>Rent</th>
    <th>Squarefeet</th>
    <th>Parking</th>
    <th>Smoking</th>
    <th>Pets</th>
    <th>Heat</th>
    <th>Electric</th>
    <th>Gas</th>
    <th>Garbage Collection</th>
    <th>Furnished</th>
    <th>Laundry</th>
    <th>Flags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lists.each do |list| %>
  <tr>
    <td><%= list.Address%></td>
    <td><%= list.City %></td>
    <td><%= list.State %></td>
    <td><%= list.Zip %></td>
    <td><%= list.Region %></td>
    <td><%= list.Bedrooms %></td>
    <td><%= list.Bathrooms %></td>
    <td><%= list.Rent %></td>
    <td><%= list.SquareFeet %></td>
    <td><%= list.Parking %></td>
    <td><%= list.Smoking %></td>
    <td><%= list.Pets %></td>
    <td><%= list.Heat %></td>
    <td><%= list.Electric %></td>
    <td><%= list.Gas %></td>
    <td><%= list.GarbageCollection %></td>
    <td><%= list.Furnished %></td>
    <td><%= list.Laundry %></td>
    <td><%= list.Flags %></td>
    <td><%= link_to 'Show', list %></td>
    <td><%= link_to 'Edit', edit_list_path(list) %></td>
    <td><%= link_to 'Destroy', list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<!-- 
  <tr>
    <td><%= sort_link @search, :Address%></td>
    <td><%= sort_link @search, :City %></td>
    <td><%= sort_link @search, :State %></td>
    <td><%= sort_link @search, :Zip %></td>
    <td><%= sort_link @search, :Region %></td>
    <td><%= sort_link @search, :Bedrooms %></td>
    <td><%= sort_link @search, :Bathrooms %></td>
    <td><%= sort_link @search, :Rent %></td>
    <td><%= sort_link @search, :SquareFeet %></td>
    <td><%= sort_link @search, :Parking %></td>
    <td><%= sort_link @search, :Smoking %></td>
    <td><%= sort_link @search, :Pets %></td>
    <td><%= sort_link @search, :Heat %></td>
    <td><%= sort_link @search, :Electric %></td>
    <td><%= sort_link @search, :Gas %></td>
    <td><%= sort_link @search, :GarbageCollection %></td>
    <td><%= sort_link @search, :Furnished %></td>
    <td><%= sort_link @search, :Laundry %></td>
    <td><%= sort_link @search, :Flags %></td>
    <td></td>
    <td></td>
    <td></td>
   </tr>
-->
 
</table>
<% end %>


<br />
	<h1>Search the Database</h1>
	<h3>There are many different ways to search (WORK IN PROGRESS)</h3>
	<%= form_for @search do |f| %>
		<p>
			<%= f.label :Address_contains, "Address" %>
			<%= f.text_field :Address_contains %>
		</p>
		<p>
			<%= f.label :Zip_eq, "Zip Code" %>
			<%= f.text_field :Zip_eq %>
		</p>
		<p>
			<%= f.label :Bedrooms_eq, "Number of Bedrooms" %>
			<%= f.text_field :Bedrooms_eq %>
		</p>
		<p>
			<%= f.label :Bedrooms_gte, "Bathrooms range from" %>
			<%= f.text_field :Bathrooms_gte %>
			<%= f.label :Bedrooms_lte, "to" %>
			<%= f.text_field :Bathrooms_lte %>
		</p>
		<p>
			<%= f.label :Rent_gte, "Rent from" %>
			<%= f.text_field :Rent_gte %>
			<%= f.label :Rent_lte, "to" %>
			<%= f.text_field :Rent_lte %>
		</p>
		<p>
			<%= f.label :SquareFeet_gte, "Square Footage: From" %>
			<%= f.text_field :SquareFeet_gte %>
			<%= f.label :SquareFeet_lte, "to" %>
			<%= f.text_field :SquareFeet_lte %>
		</p>
		<p>
		 <b><%= f.label :Utilities, "Utilities" %></b><br />
			<%= f.label :Heat_is_true, "Heat" %>
			<%= f.check_box :Heat_is_true %>
			<%= f.label :Electric_is_true, "Electric" %>
			<%= f.check_box :Electric_is_true %>
			<%= f.label :Gas_is_true, "Gas" %>
			<%= f.check_box :Gas_is_true %>
			<%= f.label :GarbageCollection_is_true, "Garbage Collection" %>
			<%= f.check_box :GarbageCollection_is_true %>
		</p>
		<p>
			<b><%= f.label :Accommodations, "Accomodations "%></b><br />
			<%= f.label :Parking_is_true, "Parking" %>
			<%= f.check_box :Parking_is_true %>
			<%= f.label :Laundry_is_true, "Laundry" %>
			<%= f.check_box :Laundry_is_true %>
			<%= f.label :Furnished_is_true, "Furnished" %>
			<%= f.check_box :Furnished_is_true %>
		</p>
		<p>
			<b><%= f.label :Restrictions, "Restrictions"%></b><br />
			<%= f.label :Smoking_is_true, "Smoking" %>
			<%= f.check_box :Smoking_is_true %>
			<%= f.label :Pets_contains, "Pet(s) allowed" %>
			<%= f.text_field :Pets_contains %>
		</p>
		<p>
			<b><%= f.label :Length_eq, "Length:" %></b><br />
			<%= f.radio_button :Length_eq, 6 %> 6 Months <br />
			<%= f.radio_button :Length_eq, 9 %> 9 Months <br />
			<%= f.radio_button :Length_eq, 12, :checked => true %> 12 Months <br />
		</p>
		
		<p class="button"><%= f.submit "Search" %></p>
	<% end %>

<%= link_to 'New List', new_list_path %>



</section>
</body>
</html>
