<h1>Listing lists</h1>

<table>
  <tr>
    <th>Streetnum</th>
    <th>Streetname</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Region</th>
    <th>Bedrooms</th>
    <th>Bathrooms</th>
    <th>Rent</th>
    <th>Squarefeet</th>
    <th>Parking</th>
    <th>Smoking</th>
    <th>Pets</th>
    <th>Heat</th>
    <th>Electric</th>
    <th>Flags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lists.each do |list| %>
  <tr>
    <td><%= list.StreetNum %></td>
    <td><%= list.StreetName %></td>
    <td><%= list.City %></td>
    <td><%= list.State %></td>
    <td><%= list.Zip %></td>
    <td><%= list.Region %></td>
    <td><%= list.Bedrooms %></td>
    <td><%= list.Bathrooms %></td>
    <td><%= list.Rent %></td>
    <td><%= list.SquareFeet %></td>
    <td><%= list.Parking %></td>
    <td><%= list.Smoking %></td>
    <td><%= list.Pets %></td>
    <td><%= list.Heat %></td>
    <td><%= list.Electric %></td>
    <td><%= list.Flags %></td>
    <td><%= link_to 'Show', list %></td>
    <td><%= link_to 'Edit', edit_list_path(list) %></td>
    <td><%= link_to 'Destroy', list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List', new_list_path %>
