<p id="notice"><%= notice %></p>

<p>
  <b>Streetnum:</b>
  <%= @list.StreetNum %>
</p>

<p>
  <b>Streetname:</b>
  <%= @list.StreetName %>
</p>

<p>
  <b>City:</b>
  <%= @list.City %>
</p>

<p>
  <b>State:</b>
  <%= @list.State %>
</p>

<p>
  <b>Zip:</b>
  <%= @list.Zip %>
</p>

<p>
  <b>Region:</b>
  <%= @list.Region %>
</p>

<p>
  <b>Bedrooms:</b>
  <%= @list.Bedrooms %>
</p>

<p>
  <b>Bathrooms:</b>
  <%= @list.Bathrooms %>
</p>

<p>
  <b>Rent:</b>
  <%= @list.Rent %>
</p>

<p>
  <b>Squarefeet:</b>
  <%= @list.SquareFeet %>
</p>

<p>
  <b>Parking:</b>
  <%= @list.Parking %>
</p>

<p>
  <b>Smoking:</b>
  <%= @list.Smoking %>
</p>

<p>
  <b>Pets:</b>
  <%= @list.Pets %>
</p>

<p>
  <b>Heat:</b>
  <%= @list.Heat %>
</p>

<p>
  <b>Electric:</b>
  <%= @list.Electric %>
</p>

<p>
  <b>Flags:</b>
  <%= @list.Flags %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
