<div id="notice"><%= notice %></div>
<div class="divider"></div>
<section id="Listing_View">

<h1><%= @list.Address %></h1>

<hr id="Listing_View_Bar"/>

<section id="ListingInfo">

<div id="ColumnOne">
<h2>Location:</h2>
<div id="ShowLocation">
	<p>Address:  <%= @list.Address %></p>

	<p>City:  <%= @list.City %></p>

	<p>State:  <%= @list.State %></p>

	<p>Zip:  <%= @list.Zip %></p>

	<p>Region:  <%= @list.Region %></p>
</div>


<h2>Price:</h2>
<div id="ShowPrice">
	<p>Rent:  $<%= @list.Rent %></p>
</div>


<% unless @list.Type.nil? %>
	<h2>Type of Residence:</h2>
  	<div id="ShowType">
		<p>Type (House (0) or Apt (1)):  <%= @list.Type %></p>
	</div>
<% end %>


<h2>Residence Details:</h2>
<div id="ShowResDetails">
	<p>Bedrooms:  <%= @list.Bedrooms %></p>
	
	<% unless @list.Bathrooms.nil? %>
		<p>Bathrooms:  <%= @list.Bathrooms %></p>
	<% end %>

	<% unless @list.SquareFeet.nil? %>
		<p>Squarefeet:  <%= @list.SquareFeet %></p>
	<% end %>
</div>


<% unless @list.Length.nil? %>
	<h2>Lease Length:</h2>
	<div id="ShowLeaseDetails">
		<p>Length (Months):  <%= @list.Length %></p>
	</div>
<% end %>
</div>


<div id="ColumnTwo">
<h2>Utilities:</h2>
<div id="ShowUtils">
	<% unless @list.Heat.nil? %>
		<p>Heat:  <%= @list.Heat %></p>
	<% end %>

	<% unless @list.Electric.nil? %>
		<p>Electric:  <%= @list.Electric %></p>
	<% end %>

	<% unless @list.Gas.nil? %>
		<p>Gas:  <%= @list.Gas %></p>
	<% end %>

	<% unless is_nil(@list.GarbageCollection) %>
		<p>Garbage Collection:  <%= @list.GarbageCollection %></p>
	<% end %>
</div>


<h2>Accommodations:</h2>
<div id="ShowAccommodations">
	<% unless @list.Parking.nil? %>
		<p>Parking:  <%= @list.Parking %></p>
	<% end %>
	
	<% unless @list.Laundry.nil? %>
		<p>Laundry:  <%= @list.Laundry %></p>
	<% end %>

	<% unless @list.Furnished.nil? %>
		<p>Furnished:  <%= @list.Furnished %></p>
	<% end %>
</div>


<h2>Restrictions:</h2>
<div id="ShowRestrictions">
	<% unless @list.Smoking.nil? %>
		<p>Smoking:  <%= @list.Smoking %></p>
	<% end %>

	<% unless @list.Pets.nil? %>
		<p>Pets:  <%= @list.Pets %></p>
	<% end %>
</div>


<% if signed_in? && current_user.admin? %>
	<% unless @list.Flags.nil? %>
	<p>Flags:  <%= @list.Flags %></p>
	<% end %>
<% end %>

<div id="UpdateListingButton"><a><%= link_to 'Update', edit_list_path(@list) %></a></div>
<br />
<section class="flag_listing">
	<h3>Is the information for this listing inaccurate? If so, use the button below to flag the listing. If several people flag it we'll take a look. Thank you!</h3>
	<%= form_tag increment_flag(@list), :method => "post", :class => "flag_button" do %>
		<%= submit_tag("Flag")%>
	<% end %>
</section>
</div>
</section>
</section>