<div id="notice"><%= notice %></div>
<div class="divider"></div>
<section id="Listing_View">

<h1><%= @list.Address %></h1>

<hr id="Listing_View_Bar"/>

<section id="ListingInfo">

<div id="ColumnOne">
<h2>Location:</h2>
<div id="ShowLocation">
	<em>Address:</em>  <%= @list.Address %><br />

	<em>City:</em>  <%= @list.City %><br />

	<em>State:</em>  <%= @list.State %><br />

	<em>Zip:</em>  <%= @list.Zip %><br />

	<em>Region:</em>  <%= @list.Region %>
</div>


<h2>Price:</h2>
<div id="ShowPrice">
	<em>Rent:  $</em><%= @list.Rent %>
</div>


<% unless @list.Type.nil? %>
	<h2>Type of Residence:</h2>
  	<div id="ShowType">
		<em>Type (House (true) or Apt (false)):</em>  <%= @list.Type %>
	</div>
<% end %>


<h2>Residence Details:</h2>
<div id="ShowResDetails">
	<em>Bedrooms:</em>  <%= @list.Bedrooms %><br />
	
	<% unless @list.Bathrooms.nil? %>
		<em>Bathrooms:</em>  <%= @list.Bathrooms %><br />
	<% end %>

	<% unless @list.SquareFeet.nil? %>
		<em>Squarefeet:</em>  <%= @list.SquareFeet %>
	<% end %>
</div>


<% unless @list.Length.nil? %>
	<h2>Lease Length:</h2>
	<div id="ShowLeaseDetails">
		<em>Length (Months):</em>  <%= @list.Length %>
	</div>
<% end %>
</div>


<div id="ColumnTwo">
<h2>Utilities:</h2>
<div id="ShowUtils">
	<% unless @list.Heat.nil? %>
		<em>Heat:</em>  <%= @list.Heat %><br />
	<% end %>

	<% unless @list.Electric.nil? %>
		<em>Electric:</em>  <%= @list.Electric %><br />
	<% end %>

	<% unless @list.Gas.nil? %>
		<em>Gas:</em>  <%= @list.Gas %><br />
	<% end %>

	<% unless is_nil(@list.GarbageCollection) %>
		<em>Garbage Collection:</em>  <%= @list.GarbageCollection %>
	<% end %>
</div>


<h2>Accommodations:</h2>
<div id="ShowAccommodations">
	<% unless @list.Parking.nil? %>
		<em>Parking:</em>  <%= @list.Parking %><br />
	<% end %>
	
	<% unless @list.Laundry.nil? %>
		<em>Laundry:</em>  <%= @list.Laundry %><br />
	<% end %>

	<% unless @list.Furnished.nil? %>
		<em>Furnished:</em>  <%= @list.Furnished %>
	<% end %>
</div>


<h2>Restrictions:</h2>
<div id="ShowRestrictions">
	<% unless @list.Smoking.nil? %>
		<em>Smoking:</em>  <%= @list.Smoking %><br />
	<% end %>

	<% unless @list.Pets.nil? %>
		<em>Pets:</em>  <%= @list.Pets %>
	<% end %>
</div>


<% if signed_in? && current_user.admin? %>
	<% unless @list.Flags.nil? %>
	<p>Flags:  <%= @list.Flags %></p>
	<% end %>
<% end %>

<div id="UpdateListingButton"><a><%= link_to 'Update', edit_list_path(@list) %></a></div>
<br />
<section class="flag_listing">
	<h3>Is the information for this listing inaccurate? If so, use the button below to flag the listing. If several people flag it we'll take a look. Thank you!</h3>
	<%= form_tag increment_flag(@list), :method => "post", :class => "flag_button" do %>
		<%= submit_tag("Flag")%>
	<% end %>
</section>
</div>
</section>
</section>