<html>

	<%= stylesheet_link_tag 'listingForm' %>

<body>
<div id="notice"><%= notice %></div>
<div class="divider"></div>
<section id="Listing_View">

<h1><%= @list.address %></h1>

<hr id="Listing_View_Bar"/>

<section id="ListingInfo">

<div id="ColumnOne">
<h2>Location:</h2>
<div id="ShowLocation">
	<em>Address:</em>  <%= @list.address %><br />

	<em>City:</em>  <%= @list.city %><br />

	<em>State:</em>  <%= @list.state %><br />

	<em>Zip:</em>  <%= @list.zip %><br />

	<em>Region:</em>  <%= @list.region %>
</div>


<h2>Price:</h2>
<div id="ShowPrice">
	<em>Rent:  $</em><%= @list.rent %>
</div>


<% unless @list.ltype.nil? %>
	<h2>Type of Residence:</h2>
  	<div id="ShowType">
		<em>Type (House (true) or Apt (false)):</em>  <%= @list.ltype %>
	</div>
<% end %>


<h2>Residence Details:</h2>
<div id="ShowResDetails">
	<em>Bedrooms:</em>  <%= @list.bedrooms %><br />
	
	<% unless @list.bathrooms.nil? %>
		<em>Bathrooms:</em>  <%= @list.bathrooms %><br />
	<% end %>

	<% unless @list.squarefeet.nil? %>
		<em>Squarefeet:</em>  <%= @list.squarefeet %>
	<% end %>
</div>


<% unless @list.length.nil? %>
	<h2>Lease Length:</h2>
	<div id="ShowLeaseDetails">
		<em>Length (Months):</em>  <%= @list.length %>
	</div>
<% end %>

</div>


<div id="ColumnTwo">
<h2>Utilities:</h2>
<div id="ShowUtils">
	<% unless @list.heat.nil? %>
		<em>Heat:</em>  <%= @list.heat %><br />
	<% end %>

	<% unless @list.electric.nil? %>
		<em>Electric:</em>  <%= @list.electric %><br />
	<% end %>

	<% unless @list.gas.nil? %>
		<em>Gas:</em>  <%= @list.gas %><br />
	<% end %>

	<% unless is_nil(@list.garbagecollection) %>
		<em>Garbage Collection:</em>  <%= @list.garbagecollection %>
	<% end %>
</div>


<h2>Accommodations:</h2>
<div id="ShowAccommodations">
	<% unless @list.parking.nil? %>
		<em>Parking:</em>  <%= @list.parking %><br />
	<% end %>
	
	<% unless @list.laundry.nil? %>
		<em>Laundry:</em>  <%= @list.laundry %><br />
	<% end %>

	<% unless @list.furnished.nil? %>
		<em>Furnished:</em>  <%= @list.furnished %>
	<% end %>
</div>


<h2>Restrictions:</h2>
<div id="ShowRestrictions">
	<% unless @list.smoking.nil? %>
		<em>Smoking:</em>  <%= @list.smoking %><br />
	<% end %>

	<% unless @list.pets.nil? %>
		<em>Pets:</em>  <%= @list.pets %>
	<% end %>
</div>


<% if signed_in? && current_user.admin? %>
	<% unless @list.flags.nil? %>
	<p>Flags:  <%= @list.flags %></p>
	<% end %>
<% end %>

<div id="UpdateListingButton">Any information missing? Go ahead and <a><%= link_to 'Update', edit_list_path(@list) %></a> this Listing!</div>
<br />
<section class="flag_listing">
	<h3>Is the information for this listing inaccurate or abusive? If so, use the button below to flag the listing. If several people flag it we'll take a look. Thank you!</h3>
	<%= form_tag increment_flag(@list), :method => "post", :id => "FlagButton" do %>
		<%= submit_tag("Flag")%>
	<% end %>
</section>
</div>
</section>
</section>

</body>
</html>
