
<div id="notice"><%= notice %></div>
<div class="divider"></div>
<section id="Listing_View">

<% if @list.ltype %>
<h1 id="ShowListingTitle" class="page_header"><%= @list.address %></h1>
<% else %>
<h1 id="ShowListingTitle" class="page_header"><%= @list.aptnum %>
	<%= @list.building_name %></h1>
<% end %>
<div id="UpdateLinks">
	<%= link_to 'Update Listing', edit_list_path(@list) %>
</div>

<hr id="Listing_View_Bar"/>

<section id="ListingInfo">
	
	<div id="column-left">
		<% unless @list.image_url.nil? %>
			<%= image_tag @list.image_url(:show_page).to_s, :class => "show-listing-image" %>
			<% else %>
			<%= image_tag "no_image_placeholder.jpg", :class => "show-listing-image" %>
		<% end %>
		<a id="list-map-link" target="_blank" href="http://maps.google.com/maps?q=<%= @list.address %>,<%= @list.city %>,WI"><img id="list-map" src="http://maps.googleapis.com/maps/api/staticmap?&markers=color:red%7C<%= @list.address %>,<%= @list.city %>,WI&size=225x225&sensor=false&zoom=15"></img></a>
		<div class="flag_listing" style="width: 215px">
			<p>Is the information for this listing inaccurate or abusive? If so, use the button below to flag the listing.</p>
			<%= form_tag increment_flag(@list), :method => "post" do %>
				<%= submit_tag("Flag")%>
			<% end %>
		</div>
	</div><!-- END column-left -->

	<div id="column-middle">
		<h2 id="LocationLabel">Location:</h2>
		<div class="list-info">
			<b><em>Address:</em></b>  <%= @list.address %><br />
			<b><em>City:</em></b>  <%= @list.city %><br />
			<b><em>State:</em></b>  <%= @list.state %><br />
			<b><em>Zip:</em></b>  <%= @list.zip %><br />
			<% if !@list.ltype %> 
				<b><em>Apartment Number:</em></b> <%= @list.aptnum %><br />
			<% end %>
		</div><!-- END ShowLocation -->


		<h2 id="PriceLabel">Price:</h2>
		<div class="list-info">
			<em>Rent:  $</em> <b><%= @list.rent %></b> per month
		</div><!-- END ShowPrice -->


		<% unless @list.ltype.nil? %>
			<h2 id="TypeLabel">Type of Residence:</h2>
		  	<div class="list-info">
				<b><%= format_type(@list.ltype) %></b>
			</div>
		<% end %><!-- END TypeLabel -->


		<h2 id="DetailsLabel">Residence Details:</h2>
		<div class="list-info">
			<b><%= @list.bedrooms %></b> bedrooms.<br />
			<b><%= @list.bathrooms %></b> bathrooms.<br />

			<% unless @list.squarefeet.nil? %>
				<b><%= @list.squarefeet %></b> square feet.
			<% end %>
		</div><!-- END ShowResDetails -->


		<% unless @list.length.nil? %>
			<h2 id="LeaseLabel">Lease Length:</h2>
			<div class="list-info">
				<em>Length:</em>  <%= @list.length %> months.
			</div>
		<% end %><!-- END ShowLeaseDetails -->
	</div><!-- END column-middle -->


	<div id="column-right">
		<h2>Landlord Information:</h2>	
		<div class="list-info">
			<% unless @list.landlord_id.nil? %> 
			    <% landlord = get_landlord(@list.landlord_id) %>
			    <%= landlord.name %><br />
			   	<%= landlord.email unless landlord.email.nil? %><br />
			   	<%= landlord.website unless landlord.website.nil? %> <br />
			    <%= ActionController::Base.helpers.number_to_phone(landlord.phone) %><br />
		    <% else %>
				Not available yet.
		    <% end %>
		</div><!-- END LandlordInfo -->


		<h2 id="UtilsLabel">Utilities:</h2>
		<div class="list-info">

			<b>Heat:</b> <em><%= format_util(@list.heat) %> </em> 
			<br />
			<b>Electric:</b> <em><%= format_util(@list.electric) %> </em> 
			<br />
			<b>Gas:</b> <em><%= format_util(@list.gas) %> </em>
			<br />
			<b>Garbage Collection:</b>
				<em><% if(@list.garbagecollection) %>
					handled by the landlord.
				<% else %>
					not handled by the landlord.	
				<% end %></em>
		</div><!-- END ShowUtils -->


		<h2 id="AccomsLabel">Accommodations:</h2>
		<div class="list-info">
	
			<% acc = { "Parking" => @list.parking } %>
			<em><%= format_accomodations(acc) %></em> <br />
			<% acc = { "Laundry" => @list.laundry } %>
			<em><%= format_accomodations(acc) %></em> <br />
			<% acc = { "Furnished" => @list.furnished } %>
			<em><%= format_accomodations(acc) %></em> <br />
	
	
			<!--<% unless @list.parking.nil? %>
				<em>Parking:</em>  <%= @list.parking %><br />
			<% end %>
			<% unless @list.laundry.nil? %>
				<em>Laundry:</em>  <%= @list.laundry %><br />
			<% end %>
			<% unless @list.furnished.nil? %>
				<em>Furnished:</em>  <%= @list.furnished %>
			<% end %>-->
		</div><!-- END ShowAccommodations -->


		<h2 id="RestrictsLabel">Restrictions:</h2>
		<div class="list-info">
			<% restriction = { "Smoking" => @list.smoking } %>
			<em><%= format_restrictions(restriction) %></em> <br />
			<% restriction = { "Pets" => @list.pets }%>
			<em><%= format_restrictions(restriction) %></em>
		</div><!-- END ShowRestrictions -->


		<% if signed_in? && current_user.admin? %>
			<% unless @list.flags.nil? %>
				<p>Flags:  <%= @list.flags %></p>
			<% end %>
		<% end %>
		
		<br />
	</div><!-- END column-right -->
</section><!-- END ListingInfo -->

<section id="Comments_Area">
	<!-- reviews area -->
	<hr style="border: 1px solid white; clear: both;" />
	<h2>Reviews:</h2>
	<% unless @list.reviews.empty? %>
        <table class="reviews" summary="User reviews">
          <%= render @reviews %>
        </table>
        <%= will_paginate @reviews %>
    <% else %>
    	<p>There are no reviews for this listing. Have you lived here? Leave a review!</p>
    <% end %>
      
      <% if signed_in? %>
      	<br />
        <h2>Lived here? Have any thoughts?</h2>
        <i>All fields are required.</i>
        <%= render 'shared/review_form', :object => @list %>
      </td>
      <% end %>
</section>
</section>
