<% if signed_in? && current_user.admin? %>

<section id="Admin_View" class="User_View">
	<h1 class="page_header">Admin page</h1>
	<hr class="generic_header_ruler"/>
	
	<p>This is the basic administrator page. It is really in progress, has a lot of work to be done.</p>
	<p>We could go a lot of ways with what we are looking to do with this page..</p>
	<p>Everything on the page is now working as it should.  I took out searching for users for now,
		will add it back in later, but I'll have to change the schema as well as tests and a few other things.</p>
	
	<div id="admin_boxes_wrapper">
	<div id="admin_top">
	<ul id="admin_users">
		<h1>All users:</h1>
		<hr class="admin_ruler"/>
	 
		<%= form_tag admin_path, :method => 'get' do %>
		<%= hidden_field_tag :admin_ls, params[:admin_ls] %>
		<%= hidden_field_tag :admin_rs, params[:admin_rs] %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
		<p>
    		<%= text_field_tag :admin_us, params[:admin_us] %>
    		<%= submit_tag "Search Users", :name => nil %>
  		</p>
		<% end %>
	
		
		<%= will_paginate @users, :param_name => :users_page %>
    	<%= render @users %>
	</ul>
	
	<div id="admin_adminusers">
		<h1>List of admin users:</h1>
		<hr class="admin_ruler"/>
		<ul>
		<% @all_users = User.all %>
		<% @all_users.each do |a_user| %>
			<% if a_user.admin? %>
				<li><%= link_to a_user.name, a_user %></li>
    		<% end %>
    	<% end %>
    	</ul>
	</div>
	
	<div id="admin_creation">
	<h1>Create new admin:</h1>
	<hr class="admin_ruler"/>
	<%= form_tag admin_path, :method => 'get', :options => {:autocomplete => :off} do %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
		<%= hidden_field_tag :admin_ls, params[:admin_ls] %>
		<%= hidden_field_tag :admin_us, params[:admin_us] %>
		<%= hidden_field_tag :admin_rs, params[:admin_rs] %>
  		<div class="field">
    		Name: <%= text_field_tag :admin_name %>
  		</div>
  		<div class="field">
    		Email: <%= text_field_tag :admin_email %>
  		</div>
  		<div class="field">
    		Password: <%= password_field_tag :admin_password, :dontautocomplete => :foo %>
  		</div>
  		<br />
  		<div class="actions">
    		<%= submit_tag "Create Admin", :confirm => "You are about to create an admin user with the given email.  Are you sure?"  %>
  		</div>
	<% end %>
	</div>
	</div><!-- END "admin_top" id -->
	
	<div id="admin_bottom">
	<ul id="admin_lists">
		<h1>All listings:</h1>
		<hr class="admin_ruler"/>
		<%= form_tag admin_path, :method => 'get' do %>
		
		<%= hidden_field_tag :admin_us, params[:admin_us] %>
		<%= hidden_field_tag :admin_rs, params[:admin_rs] %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
 		<div class="field">
    		<%= text_field_tag :admin_ls, params[:admin_ls] %>
    	</div>
    	<div class="actions">
    		<%= submit_tag "Search Listings", :Address => nil %>
    	</div>
		<% end %>
		<br />

		<%= will_paginate @lists, :param_name => :lists_page %> 
		<table>
  			<tr>
  				<th><%= sortable "id" %></th>
  				<th><%= sortable "Address" %></th>
  				<th><%= sortable "Flags" %></th>
  				<th></th>
  				<th></th>
 			 </tr>	
 			 <tr>
				<%= render @lists %>
			</tr>
		</table>
	</ul>
		
	<div id="admin_comments">
		<h1>List of all reviews:</h1>
		<hr class="admin_ruler"/>
		
		<%= form_tag admin_path, :method => 'get' do %>
		<%= hidden_field_tag :admin_us, params[:admin_us] %>
		<%= hidden_field_tag :admin_ls, params[:admin_ls] %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
 		<div class="field">
    		<%= text_field_tag :admin_rs, params[:admin_rs] %>
    	</div>
    	<div class="actions">
    		<%= submit_tag "Search Reviews", :review_body => nil %>
    	</div>
		<% end %>
		
		<%= will_paginate @reviews, :param_name => :reviews_page %>
		<table>
			<tr>
				<th>ID</th>
				<th>Body</th>
				<th>Rating</th>
				<th>Help</th>
				<th>Flags</th>
				<th></th>
			</tr>
			
			<%= render :partial => "reviews/admin", :object => @reviews %>
			
		</table>
	</div>
	
	<!-- <div id="admin_landlords">   -->
	<div id="admin_landlords">
		<h1>All landlords</h1>
		<hr class="admin_ruler"/>
		<%= hidden_field_tag :admin_us, params[:admin_us] %>
		<%= hidden_field_tag :admin_ls, params[:admin_ls] %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
				
		<table>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Website</th>
				<th>Phone</th>
				<th>Address</th>
				<th></th>
			</tr>
			
			<%= render :partial => "landlords/admin", :object => @landlords %>
			
		</table>
	</div>
	
	</div><!-- END "admin_bottom" id -->
	</div><!-- END "admin_boxes_wrapper" id -->
</section>


<% else 
  @controller.send("admin_user") %>
<% end %>
