<% if signed_in? && current_user.admin? %>

<div class="container">
	<div class="hero-unit">
	<h2 class="page_header">Admin page</h2>
	<hr class="generic_header_ruler"/>
	
	<p>I think I'm going to be leaving the admin page as it is right now.  In the future, I think the coolest/best thing 
		would be to have 'tabs' so that we can choose a tab to switch between the different bits of information on this page.
	</p>
	
	<div class="dark-hero-unit">
		<h3>All users:</h3>
	 
		<%= form_tag admin_path, :method => 'get' do %>
		<%= hidden_field_tag :admin_ls, params[:admin_ls] %>
		<%= hidden_field_tag :admin_rs, params[:admin_rs] %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
		<p>
    		<%= text_field_tag :admin_us, params[:admin_us] %>
    		<%= submit_tag "Search Users", :name => nil %>
  		</p>
		<% end %>
	
		<%= paginate @users, :param_name => :users_page %>
		<table>
  			<tr>
  				<th><%= sortable "Name" %></th>
  				<th></th>
  				<th></th>
 			 </tr>	
 			 <tr>
				<%= render @users %>
			</tr>
		</table>
    	
	</ul>
	</div>
	
	<div class="dark-hero-unit">
		<h3>List of admin users:</h3>
		<ul>
		<% @all_users = User.all %>
		<% @all_users.each do |a_user| %>
			<% if a_user.admin? %>
				<li><%= link_to a_user.name, a_user %></li>
    		<% end %>
    	<% end %>
    	</ul>
    </div>
	
	<div class="dark-hero-unit">
	<h3>Create new admin:</h3>
	<%= form_tag admin_path, :method => 'get', :options => {:autocomplete => :off} do %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
		<%= hidden_field_tag :admin_ls, params[:admin_ls] %>
		<%= hidden_field_tag :admin_us, params[:admin_us] %>
		<%= hidden_field_tag :admin_rs, params[:admin_rs] %>
  		<div class="field">
    		Name: <%= text_field_tag :admin_name %>
  		</div>
  		<div class="field">
    		Email: <%= text_field_tag :admin_email %>
  		</div>
  		<div class="field">
    		Password: <%= password_field_tag :admin_password, :dontautocomplete => :foo %>
  		</div>
  		<br />
  		<div class="actions">
    		<%= submit_tag "Create Admin", :confirm => "You are about to create an admin user with the given email.  Are you sure?"  %>
  		</div>
	<% end %>
	</div>
	
	<div class="dark-hero-unit">
	<ul>
		<h3>All listings:</h3>
		<%= form_tag admin_path, :method => 'get' do %>
		
		<%= hidden_field_tag :admin_us, params[:admin_us] %>
		<%= hidden_field_tag :admin_rs, params[:admin_rs] %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
 		<div class="field">
    		<%= text_field_tag :admin_ls, params[:admin_ls] %>
    	</div>
    	<div class="actions">
    		<%= submit_tag "Search Listings", :Address => nil %>
    	</div>
		<% end %>
		<br />

		<%= paginate @lists, :param_name => :lists_page %> 
		<table>
  			<tr>
  				<th><%= sortable "id" %></th>
  				<th><%= sortable "Address" %></th>
  				<th><%= sortable "Flags" %></th>
  				<th></th>
  				<th></th>
 			 </tr>	
 			 <tr>
				<%= render @lists %>
			</tr>
		</table>
	</ul>
	</div>
	
	<div class="dark-hero-unit">
		<h3>List of all reviews:</h3>
		
		<%= form_tag admin_path, :method => 'get' do %>
		<%= hidden_field_tag :admin_us, params[:admin_us] %>
		<%= hidden_field_tag :admin_ls, params[:admin_ls] %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
 		<div class="field">
    		<%= text_field_tag :admin_rs, params[:admin_rs] %>
    	</div>
    	<div class="actions">
    		<%= submit_tag "Search Reviews", :review_body => nil %>
    	</div>
		<% end %>
		
		<%= paginate @reviews, :param_name => :reviews_page %>
		<table>
			<tr>
				<th>ID</th>
				<th>Body</th>
				<th>Rating</th>
				<th>Help</th>
				<th>Flags</th>
				<th></th>
			</tr>
			
			<%= render :partial => "reviews/admin", :object => @reviews %>
			
		</table>
	</div>
	
	<div class="dark-hero-unit">
		<h3>All landlords</h3>
		<%= hidden_field_tag :admin_us, params[:admin_us] %>
		<%= hidden_field_tag :admin_ls, params[:admin_ls] %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
				
		<table>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Website</th>
				<th>Phone</th>
				<th>Address</th>
				<th></th>
			</tr>
			
			<%= render :partial => "landlords/admin", :object => @landlords %>
			
		</table>
	</div>
	
	</div>
</div>

<% else 
  @controller.send("admin_user") %>
<% end %>
