<section class="User_View">
	<h1 class="page_header">Edit User</h1>
	<hr class="generic_header_ruler" />
	
	<br />
	<%= form_for(@user) do |f| %>
  	<%= render 'shared/error_messages', :object => f.object %>
  	<div class="text-field">
    	<%= f.text_field :name, :placeholder => "Username" %>
  	</div>
  	<div class="text-field">
    	<%= f.text_field :email, :placeholder => "Email" %>
  	</div>
  	<div class="text-field">
    	<%= f.password_field :password, :placeholder => "Password" %>
  	</div>
  	<div class="text-field">
		<%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
  	</div>
  	<br />
  	<div class="actions">
    	<%= f.submit "Update" %>
  	</div>
<% end %>
</section>
