<div class="container">
	<div class="hero-unit">
        <h1>Edit User</h1>
        <hr style="border: 1px solid black;"/>
        <p>Feeling like you need a new name? Do you have a new email address? Are you awesome about security and want to update your password? No matter the reason, change any of your details here.</p>
        <br />
        <%= form_for(@user) do |f| %>
  			<%= render 'shared/error_messages', :object => f.object %>
        	<div class="input-prepend input-append">
        		<span class="add-on"><i class="icon-user"></i></span><%= f.text_field :name, :placeholder => "Username" %>
  				<br />
    			<span class="add-on"><i class="icon-envelope"></i></span><%= f.text_field :email, :placeholder => "Email Address" %>
    			<br />
    			<span class="add-on"><i class="icon-lock"></i></span><%= f.password_field :password, :placeholder => "Password" %>
    			<br />
    			<span class="add-on"><i class="icon-ok"></i></span><%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
    		</div>
    		<br /><br />
    		<%= f.submit "Update", :class => "btn-large btn-inverse" %>
        <% end %>
	</div><!--./hero-unit -->
