<section class="User_View" >
	<h1 class="page_header">Sign up</h1>
	<hr class="generic_header_ruler"/>
	<br />
	<%= form_for(@user) do |f| %>
  		<%= render 'shared/error_messages', :object => f.object %>
  		<div class="field">
    		<%= f.label :name %><br />
    		<%= f.text_field :name %>
  		</div>
  		<div class="field">
    		<%= f.label :email %><br />
    		<%= f.text_field :email %>
  		</div>
  		<div class="field">
    		<%= f.label :password %><br />
    		<%= f.password_field :password %>
  		</div>
  		<div class="field">
    		<%= f.label :password_confirmation, "Password Confirmation" %><br />
    		<%= f.password_field :password_confirmation %>
  		</div>
  		<br />
  		<div class="actions">
    		<%= f.submit "Sign up" %>
  		</div>
	<% end %>
</section>
