<section id="User_View" class="unselectable" >
	<h1 id="UserName_Title"><%= @user.Name %></h1>
	<hr id="User_View_Bar"/>

	<h3>User ID:  <%= @user.id %></h3>
	
    <em>Name:</em>  <%= @user.Name %><br />
    <em>Email:</em>  <%= @user.Email %><br />
    <em>URL:</em>   <%= link_to user_path(@user), @user %>
    
</section>