<section id="User_View" class="unselectable" >
	<h1>User <%= @user.id %></h1>
	<hr />
	<h3><%= @user.Name %></h3>
	<hr />
	<p><%= @user.Email %></p>
	
	
      <strong>Name</strong> <%= @user.Name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    
</section>