<link href='http://fonts.googleapis.com/css?family=Averia+Sans+Libre|Antic+Slab|Architects+Daughter' rel='stylesheet' type='text/css'>

<section id="Constant_View" class="standard_area">
	<!-- Area above banner ruler -->
	
	<h1><%= link_to 'Madison Student Housing Finder', home_page_path, :id => "Banner_Home_Link" %></h1>
	
	<div id="SignedIn">
	<% if signed_in? %>
		<%= link_to "Sign out", signout_path, :method => :delete %>
      	<p class="banner_spacer"></p>
      	<%= link_to "Settings", edit_user_path(current_user) %>
      	<p class="banner_spacer"></p>
      	<%= link_to "Profile", current_user %>
    </div><!-- END "SignedIn" id -->
    <div id="SignInWrapper">
	<% else %>
    	<%= form_for(:session, :url => sessions_path) do |f| %>
	  		<div id="SignInSubmit" class="actions">
	    		<%= f.submit "Sign In" %>
	  		</div><!-- END "SignInSubmit" id -->
	  		<div id="SignInFields">
	  			<div class="SignInField">
	    			<%= f.text_field :email, 
	    				:value => 'Email Address',
	    				:style => 'color: #666; font-style: italic;',
	    				:onfocus => "if(this.getValue()=='Email Address'){this.clear();this.style.color = '#000';}",
	    				:onblur => "if(this.getValue()==''){this.setValue('Email Address');this.style.color = '#666';}" %>
	  			</div><!-- END email field -->
	  			<div class="SignInField">
	    			<%= f.password_field :password, 
	    				:value => 'Password',
	    				:style => 'color: #666; font-style: italic;',
	    				:onfocus => "if(this.getValue()=='Password'){this.clear();this.style.color = '#000';}",
	    				:onblur => "if(this.getValue()==''){this.setValue('Password');this.style.color = '#666';}" %>
	  			</div><!-- END password field -->
			</div><!-- END "SignInFields" -->
			<br /><br />
			<div id="SignInRemember">
				<% params[:remember_me] = false %>
  				<%= check_box_tag :remember_me, 1, params[:remember_me] %>
 				<%= label_tag :remember_me %>
			</div><!-- END remember me field -->
			<p class="banner_spacer"></p>
			<div id="ForgotPassword">
				<%= link_to "Forgot password?", new_password_reset_path %>
			</div>
			<p class="banner_spacer"></p>
			<div id="NewUserLink">
				<%= link_to "Sign up!", signup_path %>
			</div>
		<% end %><!-- END form -->
    <% end %><!-- END if/else -->
    </div><!-- END "SignInWrapper" id -->
	
	<!-- END area above banner ruler -->

	<hr id="banner_ruler" />
	
	<!-- Area below banner ruler -->	
	
	<ul id="Constant_View_Links">
		<li class="navButton">
			<%= link_to 'Add a Listing', new_listing_path, :id => "AddListingLink", :class => "navLink" %>
		</li>
		<li class="navButton">
			<%= link_to 'Landlord Info', landlord_path, :id => "LandlordLink", :class => "navLink" %>
		</li>
    	<% if signed_in? && current_user.admin? %>
			<li class="navButton">
				<%= link_to "Admin Page", admin_path, :id => "AdminLink", :class => "navLink" %>
			</li>
	  	<% else %>
			<li class="navButton">
				<%= link_to 'About Us', about_path, :id => "AboutLink", :class => "navLink" %>
			</li>
    	<% end %>
    </ul>
    	
</section>
