<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Madison Student Housing Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to 'Madison Student Housing Finder', home_page_path, :class => "brand" %>
          <% if signed_in? %>
          	<div class="btn-group pull-right">
            	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="color: black">
              	<i class="icon-user"></i> <%= current_user.name %>
              	<span class="caret"></span>
            	</a>
            	<ul class="dropdown-menu">
              		<li><%= link_to "Profile", current_user %></li>
              		<li class="divider"></li>
              		<li><%= link_to "Settings", edit_user_path(current_user) %></li>
              		<li class="divider"></li>
              		<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
            	</ul>
          	</div>
          <% else %>
            <div class="form-inline pull-right">
          	  <%= form_for(:session, :url => sessions_path) do |f| %>
				<!-- these labels are "checkbox" just to get them centered vertically -->
				<label class="checkbox"><%= link_to "Sign up!", signup_path, :style => "padding-right: 5px" %></label>
	    		<label class="checkbox"><%= link_to "Forgot password?", new_password_reset_path, :style => "padding-right: 5px" %></label>
	    		<%= f.text_field :email, :type => "text", :class => "input-medium", :placeholder => "Email" %>
	    		<%= f.password_field :password, :type => "password", :class => "input-small", :placeholder => "Password" %>
				<% params[:remember_me] = false %>
  				<label class="checkbox" style="color: #eee">
  				<%= check_box_tag :remember_me, 1, params[:remember_me] %> Remember me
  				</label>
 				<%= f.submit "Sign In", :type => "submit", :class => "btn" %>
			  <% end %><!--./form -->
			</div><!--./form-inline -->
          <% end %><!--./else -->
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><%= link_to 'Home', home_page_path %></li>
              <li><%= link_to 'Add a Listing', new_listing_path %></li>
              <li><%= link_to 'Landlord Info', landlord_path %></li>
              <li><%= link_to 'About Us', about_path %></li>
              <% if signed_in? && current_user.admin? %>
              	<li><%= link_to "Admin Page", admin_path %></li>
              <% end %>
            </ul>
          </div><!--./nav-collapse -->
        </div><!--./container-flud -->
      </div><!--./navbar-inner -->
    </div><!--./navbar -->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap-transition.js"></script>
    <script src="/javascripts/bootstrap-alert.js"></script>
    <script src="/javascripts/bootstrap-modal.js"></script>
    <script src="/javascripts/bootstrap-dropdown.js"></script>
    <script src="/javascripts/bootstrap-scrollspy.js"></script>
    <script src="/javascripts/bootstrap-tab.js"></script>
    <script src="/javascripts/bootstrap-tooltip.js"></script>
    <script src="/javascripts/bootstrap-popover.js"></script>
    <script src="/javascripts/bootstrap-button.js"></script>
    <script src="/javascripts/bootstrap-collapse.js"></script>
    <script src="/javascripts/bootstrap-carousel.js"></script>
    <script src="/javascripts/bootstrap-typeahead.js"></script>
    
  </body>
</html>
