<link href='http://fonts.googleapis.com/css?family=Averia+Sans+Libre|Antic+Slab|Architects+Daughter' rel='stylesheet' type='text/css'>

<header id="Constant_View" class="standard_area">
	<!-- Area above banner ruler -->
	<h1><%= link_to 'Madison Student Housing Finder', home_page_path, :id => "Banner_Home_Link" %></h1>
	
	<div id="SignInWrapper">
	<div id="SignedIn">
	<% if signed_in? %>
      	<%= link_to "Profile", current_user %>
      	<%= link_to "Settings", edit_user_path(current_user) %>
      	<%= link_to "Sign out", signout_path, :method => :delete %>
    </div><!-- END "SignedIn" id -->	
	<% else %>
    	<%= form_for(:session, :url => sessions_path) do |f| %>
	  		<div id="SignInSubmit" class="actions">
	    		<%= f.submit "Sign In" %>
	  		</div><!-- END "SignInSubmit" id -->
	  		<div id="SignInFields">
	  			<div class="SignInField">
	    			<%= f.text_field :Email, 
	    				:value => 'Email Address',
	    				:style => 'color: #666; font-style: italic;',
	    				:onfocus => "if(this.getValue()=='Email Address'){this.clear();this.style.color = '#000';}",
	    				:onblur => "if(this.getValue()==''){this.setValue('Email Address');this.style.color = '#666';}" %>
	  			</div><!-- END email field -->
	  			<div class="SignInField">
	    			<%= f.password_field :password, 
	    				:value => 'Password',
	    				:style => 'color: #666; font-style: italic;',
	    				:onfocus => "if(this.getValue()=='Password'){this.clear();this.style.color = '#000';}",
	    				:onblur => "if(this.getValue()==''){this.setValue('Password');this.style.color = '#666';}" %>
	  			</div><!-- END password field -->
	  			<div class="SignInField">
	  				<% params[:remember_me] = false %>
  					<%= check_box_tag :remember_me, 1, params[:remember_me] %>
 					<%= label_tag :remember_me %>
				</div><!-- END remember me field -->
			</div><!-- END "SignInFields" -->
		<% end %><!-- END form -->
		<div id="NewUserLink">
			<%= link_to "Sign up!", signup_path %>
		</div>
    <% end %><!-- END if/else -->
    </div><!-- END "SignInWrapper" id -->
	
	<!-- END area above banner ruler -->
	
	<hr id="banner_ruler" />
	
	<p>LINKS</p>
	
</header>