<html>
<section id="Search_Sidebar_View">
	<%= form_for @search do |f| %>
	<div id="Search">
		<p class="button"><%= f.submit "Submit Criteria", :class => "Search_Button" %></p>
	</div>
	<ul id="Search_Sidebar_Criteria">
		<li id="Price">
			<div id="PriceHandler" class="menuOption" >
				<p onclick="showPrice('Price_Ops_Invis')">Price</p>
			</div>
			<div id="Price_Ops_Invis">
				<%= f.label :Rent_gte, "from" %>
				<%= f.text_field :Rent_gte %> <br />
				<%= f.label :Rent_lte, "to" %>
				<%= f.text_field :Rent_lte %>
			</div>
		</li><hr />
		<li id="Location">
			<div id="LocationHandler" class="menuOption">
				<p onclick="showLocation('Location_Ops_Invis')">Location</p>
			</div>
			<div id="Location_Ops_Invis">
				<%= f.label :Address_contains, "Address" %>
				<%= f.text_field :Address_contains %>
			</div>
		</li><hr />
		<li id="Type_of_Res">
			<div id="TypeHandler" class="menuOption">
				<p onclick="showType('Type_Ops_Invis')">Type of Residence</p>
			</div>
			<div id="Type_Ops_Invis">
				<%= f.radio_button :Type_is_true, "House" %>House<br />
				<%= f.radio_button :Type_is_false, "Apartment" %>Apartment<br />
			</div>
		</li><hr />
		<li id="Res_Details">
			<div id="DetailsHandler" class="menuOption">
				<p onclick="showDetails('Details_Ops_Invis')">Residence Details</p>
			</div>
			<div id="Details_Ops_Invis">
				<%= f.label :Bedrooms_eq, "Bedrooms" %>
				<%= f.text_field :Bedrooms_eq %> <p></p>
				<%= f.label :Bedrooms_eq, "Bathrooms" %>
				<%= f.text_field :Bathrooms_eq %> <p></p>
				<%= f.label :SquareFeet_gte, "At least" %>
				<%= f.text_field :SquareFeet_gte %>
				<%= f.label :SquareFeet_gte, "square feet."%>
			</div>
		</li><hr />
		<li id="Lease_Details">
			<div id="LeaseHandler" class="menuOption">
				<p onclick="showLease('Lease_Ops_Invis')">Lease Details</p>
			</div>
			<div id="Lease_Ops_Invis">
				<b><%= f.label :Length_eq, "Length:" %></b><br />
				<%= f.radio_button :Length_eq, 6 %> 6 Months <br />
				<%= f.radio_button :Length_eq, 9 %> 9 Months <br />
				<%= f.radio_button :Length_eq, 12 %> 12 Months <br />
			</div>
		</li><hr />
		<li id="Utilities">
			<div id="UtilsHandler" class="menuOption">
				<p onclick="showUtils('Utils_Ops_Invis')">Utilities</p>
			</div>
			<div id="Utils_Ops_Invis">
				<%= f.check_box :Heat_is_true %>
				<%= f.label :Heat_is_true, "Heat" %> <br />
				<%= f.check_box :Electric_is_true %> 
				<%= f.label :Electric_is_true, "Electric" %> <br />
				<%= f.check_box :Gas_is_true %> 
				<%= f.label :Gas_is_true, "Gas" %> <br />
				<%= f.check_box :GarbageCollection_is_true %>
				<%= f.label :GarbageCollection_is_true, "Garbage Collection" %>
				
			</div>
		</li><hr />
		<li id="Accomodations">
			<div id="AccomsHandler" class="menuOption">
				<p onclick="showAccoms('Accoms_Ops_Invis')">Accomodations</p>
			</div>
			<div id="Accoms_Ops_Invis">
				<%= f.check_box :Parking_is_true %>
				<%= f.label :Parking_is_true, "Parking" %> <br />
				<%= f.check_box :Laundry_is_true %>
				<%= f.label :Laundry_is_true, "Laundry" %> <br />
				<%= f.check_box :Furnished_is_true %>
				<%= f.label :Furnished_is_true, "Furnished" %>
			</div>
		</li><hr />
		<li id="Restrictions">
			<div id="RestrictsHandler" class="menuOption">
				<p onclick="showRestricts('Restricts_Ops_Invis')">Restrictions</p>
			</div>
			<div id="Restricts_Ops_Invis">
				<%= f.check_box :Smoking_is_true %>
				<%= f.label :Smoking_is_true, "Smoking" %> <br />
				<%= f.check_box :Pets_is_true %>
				<%= f.label :Pets_is_true, "Pets" %> <br />
			</div>
		</li><hr />
	</ul>
	<% end %>
	<ul id="Clear_Search_Criteria">
		<li>
			<p class="menuOption" onclick="clearAllFields()" >Clear Search Criteria</p>
		</li>
    </ul>
</section>
</html>