<div class="divider"></div>
<section id="Search_Sidebar_View">
	<%= form_for @search do |f| %>
	<div id="Search">
		<p><%= f.submit "Submit Search Criteria", :class => "Search_Button" %></p>
	</div>
	<ul id="Search_Sidebar_Criteria">
		<li id="Price">
			<div id="PriceHandler" class="menuOption" >
				<p onclick="showPrice('Price_Ops_Invis')">Price</p>
			</div>
			<div id="Price_Ops_Invis">
				<%= f.label :rent_gte, "from" %>
				<%= f.text_field :rent_gte %> <br />
				<%= f.label :rent_lte, "to" %>
				<%= f.text_field :rent_lte %>
			</div>
		</li><hr />
		<li id="Location">
			<div id="LocationHandler" class="menuOption">
				<p onclick="showLocation('Location_Ops_Invis')">Location</p>
			</div>
			<div id="Location_Ops_Invis">
				<%= f.label :address_contains, "Address" %>
				<%= f.text_field :address_contains %>
			</div>
		</li><hr />
		<li id="Type_of_Res">
			<div id="TypeHandler" class="menuOption">
				<p onclick="showType('Type_Ops_Invis')">Type of Residence</p>
			</div>
			<div id="Type_Ops_Invis">
				<%= f.radio_button :ltype_eq, true %>House<br />
				<%= f.radio_button :ltype_eq, false %>Apartment<br />
			</div>
		</li><hr />
		<li id="Res_Details">
			<div id="DetailsHandler" class="menuOption">
				<p onclick="showDetails('Details_Ops_Invis')">Residence Details</p>
			</div>
			<div id="Details_Ops_Invis">

				<h3><%= f.label "Bedrooms" %></h3>
				<%= f.label  :bedrooms_gte, "From" %>
				<%= f.select :bedrooms_gte, List::ROOMS %>
				<%= f.label  :bedrooms_lte, "to" %>
				<%= f.select :bedrooms_lte, List::ROOMS %> 
				<p></p>
				<hr />
				
				
				<h3><%= f.label "Bathrooms" %></h3>
				<%= f.label  :bathrooms_gte, "From" %>
				<%= f.select :bathrooms_gte, List::BATHS %>
				<%= f.label  :bathrooms_lte, "to" %>
				<%= f.select :bathrooms_lte, List::BATHS %>
				<p></p>
				<hr />
				
				
				
				<%= f.label 	 :squarefeet_gte, "At least" %>
				<%= f.text_field :squarefeet_gte %>
				<%= f.label      :squarefeet_gte, "square feet."%>
			</div>
		</li><hr />
		<li id="Lease_Details">
			<div id="LeaseHandler" class="menuOption">
				<p onclick="showLease('Lease_Ops_Invis')">Lease Details</p>
			</div>
			<div id="Lease_Ops_Invis">
				<b><%= f.label 	   :length_eq, "Length:" %></b><br />
				<%= f.radio_button :length_eq, 6 %> 6 Months <br />
				<%= f.radio_button :length_eq, 9 %> 9 Months <br />
				<%= f.radio_button :length_eq, 12 %> 12 Months <br />
			</div>
		</li><hr />
		<li id="Utilities">
			<div id="UtilsHandler" class="menuOption">
				<p onclick="showUtils('Utils_Ops_Invis')">Utilities</p>
			</div>
			<div id="Utils_Ops_Invis">
				<%= f.check_box :heat_is_true %>
				<%= f.label 	:heat_is_true, "Heat" %> <br />
				<%= f.check_box :electric_is_true %> 
				<%= f.label 	:electric_is_true, "Electric" %> <br />
				<%= f.check_box :gas_is_true %> 
				<%= f.label 	:gas_is_true, "Gas" %> <br />
				<%= f.check_box :garbagecollection_is_true %>
				<%= f.label 	:garbagecollection_is_true, "Garbage Collection" %>
				
			</div>
		</li><hr />
		<li id="Accomodations">
			<div id="AccomsHandler" class="menuOption">
				<p onclick="showAccoms('Accoms_Ops_Invis')">Accommodations</p>
			</div>
			<div id="Accoms_Ops_Invis">
				<%= f.check_box :parking_is_true %>
				<%= f.label 	:parking_is_true, "Parking" %> <br />
				<%= f.check_box :laundry_is_true %>
				<%= f.label 	:laundry_is_true, "Laundry" %> <br />
				<%= f.check_box :furnished_is_true %>
				<%= f.label 	:furnished_is_true, "Furnished" %>
			</div>
		</li><hr />
		<li id="Restrictions">
			<div id="RestrictsHandler" class="menuOption">
				<p onclick="showRestricts('Restricts_Ops_Invis')">Restrictions</p>
			</div>
			<div id="Restricts_Ops_Invis">
				<%= f.check_box :smoking_is_true %>
				<%= f.label 	:smoking_is_true, "Smoking" %> <br />
				<%= f.check_box :pets_is_true %>
				<%= f.label 	:pets_is_true, "Pets" %> <br />
			</div>
		</li><hr />
	</ul>
	<% end %>
	<ul id="Clear_Search_Criteria">
		<li>
			<p class="menuOption" onclick="clearAllFields()" >Clear Search Criteria</p>
		</li>
    </ul>
</section>