	<div class="container">
      <div class="row">
        <div class="span3">
          <div class="well">
          	<ul class="nav nav-tabs nav-stacked">
          	  <%= form_for @search do |f| %>
              <div class="nav-header">Search Criteria</div>
              <li><a href="#price-tab" data-toggle="collapse"><i class="icon-tag"></i> Price</a></li>
                <div class="collapse in" id="price-tab">
            		<div class="input-prepend input-append well">
  						<span class="add-on">$</span><%= f.text_field :rent_gte, :class => "input-mini", :placeholder => "From" %><span class="add-on">.00</span>
  						<br />
  						<span class="add-on">$</span><%= f.text_field :rent_lte, :class => "input-mini", :placeholder => "To" %><span class="add-on">.00</span>
					</div>
              	</div>
              <li><a href="#type-tab" data-toggle="collapse"><i class="icon-home"></i> Type of Residence</a></li>
              	<div class="collapse in" id="type-tab">
            		<div class="well">
            			<%= f.radio_button :ltype_eq, true, :class => "radio" %>House<br />
						<%= f.radio_button :ltype_eq, false, :class => "radio" %>Apartment
              		</div>
            	</div>
              <li><a href="#location-tab" data-toggle="collapse"><i class="icon-map-marker"></i> Location</a></li>
              	<div class="collapse in" id="location-tab">
            		<div class="well">
  						<%= f.text_field :address_contains, :class => "input-medium", :placeholder => "Address" %>
  							<br /><%= f.text_field :building_name_contains, :class => "input-medium", :placeholder => "Building Name" %>
            		</div>
            	</div>
              <li><a href="#resDetails-tab" data-toggle="collapse"><i class="icon-pencil"></i> Residence Details</a></li>
              	<div class="collapse in" id="resDetails-tab">
              		<div class="well">
            			<p><b>Bedrooms</b></p>
						<%= f.label  :bedrooms_gte, "Min" %>
						<%= f.select :bedrooms_gte, List::ROOMS %>
						<%= f.label  :bedrooms_lte, "Max" %>
						<%= f.select :bedrooms_lte, List::ROOMS %> 
						<hr style="border: 1px solid lightGrey" />
              			<p><b>Bathrooms</b></p>
						<%= f.label  :bathrooms_gte, "Min" %>
						<%= f.select :bathrooms_gte, List::BATHS %>
						<%= f.label  :bathrooms_lte, "Max" %>
						<%= f.select :bathrooms_lte, List::BATHS %>
						<hr style="border: 1px solid lightGrey" />
              			<label class="text">
              				<b>Square-Footage</b>
                			<%= f.text_field :squarefeet_gte, :class => "input-medium", :placeholder => "Minimum" %>
              			</label>
              			<hr style="border: 1px solid lightGrey" />
              			<p><b>Landlord</b></p>
						<%= f.collection_select :landlord_id_eq, Landlord.all, :id, :name, :include_blank => true, :class => "span1" %>
              		</div>
            	</div>
              <li><a href="#leaseDetails-tab" data-toggle="collapse"><i class="icon-briefcase"></i> Lease Details</a></li>
              	<div class="collapse in" id="leaseDetails-tab">
              		<div class="well">
            			<p><b>Length</b></p>
            		 	<%= f.radio_button :length_eq, 6, :class => "SearchBarCheckOrRadioButtons" %> 6 Months <br />
						<%= f.radio_button :length_eq, 9, :class => "SearchBarCheckOrRadioButtons" %> 9 Months <br />
						<%= f.radio_button :length_eq, 12, :class => "SearchBarCheckOrRadioButtons" %> 12 Months 
              		</div>
            	</div>
              <li><a href="#utils-tab" data-toggle="collapse"><i class="icon-wrench"></i> Utilities</a></li>
              	<div class="collapse in" id="utils-tab">
              		<div class="well">
            			<label class="checkbox">
    						<%= f.check_box :heat_is_true, :class => "checkbox" %> Heat
  						</label>
  						<label class="checkbox">
    						<%= f.check_box :electric_is_true, :class => "checkbox" %>  Electric
  						</label>
  						<label class="checkbox">
    						<%= f.check_box :gas_is_true, :class => "checkbox" %>  Gas
  						</label>
  						<label class="checkbox">
    						<%= f.check_box :garbagecollection_is_true, :class => "checkbox" %> Garbage Collection
  						</label>
  					</div>
            	</div>
              <li><a href="#accommodations-tab" data-toggle="collapse"><i class="icon-thumbs-up"></i> Accommodations</a></li>
              	<div class="collapse in" id="accommodations-tab">
              		<div class="well">
            			<label class="checkbox">
    						<%= f.check_box :parking_is_true, :class => "checkbox" %> Parking
  						</label>
  						<label class="checkbox">
    						<%= f.check_box :laundry_is_true, :class => "checkbox" %> Laundry
  						</label>
  						<label class="checkbox">
    						<%= f.check_box :furnished_is_true, :class => "checkbox" %> Furnished
  						</label>
  					</div>
            	</div>
              <li><a href="#restrictions-tab" data-toggle="collapse"><i class="icon-ban-circle"></i> Restrictions</a></li>
              	<div class="collapse in" id="restrictions-tab">
              		<div class="well">
            			<label class="checkbox">
    						<%= f.check_box :smoking_is_true, :class => "checkbox" %> Smoking
  						</label>
  						<label class="checkbox">
							<%= f.check_box :pets_is_true, :class => "checkbox" %> Pets
  						</label>
  					</div>
            	</div>
            </ul>
            <div class="nav-header"><%= f.submit "Submit Search", :class => "btn btn-inverse" %></div>
            <% end %>
          </div><!--/.well -->
        </div><!--/.span3 -->