<section class="New_Landlord" >
	<h1 class="page_header">New Landlord</h1>
	<hr class="generic_header_ruler"/>
	<br />
	<%= form_for(@landlord) do |f| %>
  		<%= render 'shared/error_messages', :object => f.object %>
  		<div class="text-field">
    		<%= f.text_field :name, :placeholder => "Name" %>
  		</div>
  		<div class="text-field">
  			<%= f.text_field :address, :placeholder => "Address" %>
  		</div>
  		<div class="text-field">
    		<%= f.text_field :email, :placeholder => "Email" %>
  		</div>
  		<div class="text-field">
    		<%= f.text_field :website, :placeholder => "Website" %>
  		</div>
  		<div class="text-field">
    		<%= f.text_field :phone, :placeholder => "Phone #" %>
  		</div>
  		<div class="text-field">
  			<%= f.text_field :city, :placeholder => "City" %>	
  		</div>
  		<div class="text-field">
    		<%= f.text_field :state, :placeholder => "WI", :disabled => :true %>
  		</div>
  		<div class="text-field">
  			<%= f.text_field :zip, :placeholder => "Zip Code" %>	
  		</div>
  		<br />
  		
  		<div class="actions">
    		<%= f.submit %>
  		</div>
	<% end %>
	<br />
	Ideally, here we have a group of check box that allows them to choose
  		listings that are associated with this landlord...but I'm not sure 
  		how that would work/don't have the time yet,
  		so it may have to wait for another day.
</section>
