<section class="User_View">
	<h1 class="page_header"><%= @landlord.name %></h1>
	<hr class="generic_header_ruler"/>
	
    <p><em>Name:</em>  <%= @landlord.name %></p>
    <p><em>Email:</em>  <%= @landlord.email %></p>
    <p><em>Website: <%= link_to "#{@landlord.website}", @landlord.website %></em></p>
    <br />
    <section id="Landlord_Home_View" class="landlord_listing_area" >
	<h2>Landlord Listings</h2>
	<hr style="border: 1px solid white"/>
	<h1>Below are all of the listings we have from this landlord:</h1>
	<b>If you can't find yours, please add it, <%= link_to "here", new_listing_path %>.</b>

	
	
	<table id="Search_Results_Table">   

		<% elementClass = "Table_Element" %>


		<% @lists.each do |list| %>

		<% identifier = "Table_Element_" + list.id.to_s() %>
		<tr onclick="setSelectedTableElement(<%= list.id %>)" id=<%= identifier%> class="TableElementGeneral" >
    		<td style="width: 950px" class=<%= elementClass%> >
    			<div class="image_results">
    				<% unless list.image_url.nil? %>
						<%= image_tag list.image_url(:thumb).to_s, :class => "show_image" %>
					<% else %>
						<%= image_tag "no_image_placeholder.jpg", :class => "placeholder_thumb" %>
					<% end %>
				</div>
    			<p class="EntryAddress">
    				<% if list.ltype %>
    					<%= list.address %>
    				<% else %>
    					<%= list.building_name %> #<%= list.aptnum %>
    					
    				<% end %>
    			</p>
    			
    			<div>
	    			<p class="EntryZip">Zip Code: <%= list.zip %></p>
    				<p class="EntryBedBath">Bedrooms: <%= list.bedrooms %>  |  Bathrooms: <%= list.bathrooms %> </p>    			
    			</div>
    		</td>
  		</tr>
		<% end %>

	</table>


</section>
</section>
