<tr>
  <td class="review">
    <span class="content"><%= review.review_body %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(review.created_at) %> ago.
    </span>
    <br />
    <span class="name">
      By <%= get_user(review.user_id).Name %>.
    </span>

 	<% if current_user.id == review.user_id  || current_user.admin? %>
	
	<% if :controller == 'lists' %>
 		<%= link_to "delete", list_review_path(review.list_id, review.id),
 								 		:method => :delete,
                                       	:confirm => "Are you sure?",
                                       	:title => "Delete '#{review.review_body}'" %>
    <% else %>
    	<%= link_to "delete", user_review_path(review.user_id, review.id),
 								 		:method => :delete,
                                       	:confirm => "Are you sure?",
                                       	:title => "Delete '#{review.review_body}'" %>
    <% end %>
    <% end %>
  </td>
</tr>

