<!DOCTYPE html>
<html>
<head>
  <title><%= full_title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <!--[if lt IE 9]>
   <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tag %>
</head>
<body>

<!-- Banner -->
<%= render 'home/banner' %>
<!-- End Banner -->

<%= yield %>


<!-- <% flash.each do |key, value| %>
	<div class="flash <%= key %>"><%= value %></div>
<% end %> -->



</body>
</html>
